!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="js/underscore-min.js")
    script(src="js/require.js")
    script(src="js/jquery.js")
    script(src="js/backbone.js")
    script(src="js/couch.js")
  body!= body
  script
      var c = new CouchCollection();
      c.fetch();
